/* Login Page */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7fdf7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pastikan halaman memiliki tinggi penuh */
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #2f855a;
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #2f855a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-form button:hover {
    background-color: #276749;
}

.back-home {
    margin-top: 10px;
}

.back-home a {
    color: #2f855a;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.back-home a:hover {
    color: #276749;
}
